<h1>Meetups</h1>

<ul>
  <% @meetups.each do |meetup| %>
    <li><a href="/meetups/<%= meetup.id %>"> <%= meetup.name %> </a></li>
  <% end %>
</ul>

<% if logged_in? %>
  <a class="button" href="/meetups_new">Create New Meetup</a>
<% end %>
