<h1>New Meetup</h1>

<form method='POST' action='/meetups'>
  <input type='text' name='name' placeholder='Meetup Name'><br />
  <input type='text' name='location' placeholder='Location'><br />
  <textarea type='text' name='description' placeholder='Description'></textarea><br />
  <input class='button' value='Submit' type='submit'>
</form>
